<div class="w-full h-full p-4 text-center text-white 
 
  {% if twcolor == "blue" %} bg-blue-500 {% endif  %} 
  {% if twcolor == "green" %} bg-green-500 {% endif  %} 
  {% if twcolor == "yellow" %} bg-yellow-500 {% endif  %} 
  
  rounded-lg " {{ block.shopify_attributes }} data-nothin="somenomore" >
  <div class="flex justify-items-center">
    {{ svg }}
  </div>
  <div class="uppercase">{{ text1 }}</div>
  <div class="normal-case">{{ text2 }}</div>
</div>
