<div class="container mb-12 md:mb-24">
  {% if section.settings.headline %}
    <div class="text-2xl lg:text-3xl font-bold text-center mb-6 md:mb-12">
      {{ section.settings.headline }}
    </div>
  {% endif %}

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for block in section.blocks %}
      {% render 'section-iconblock',
        class: 'h-96'
        svg: block.settings.svg
        text1: block.settings.text1
        text2: block.settings.text2
        twcolor: 'blue'
      %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Iconblock Row",
  "class": "shopify-section-vue",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "Our store"
    }
  ],
  "blocks": [
    {
      "type": "iconblock",
      "name": "Icon Block",
      "limit": 3,
      "settings": [
        {
          "type": "select",
          "id": "twcolor",
          "label": "Background Color",
          "options": [
            {
              "value": "blue",
              "label": "Blue"
            },
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "yellow",
              "label": "Yellow"
            }
          ],
          "default": "blue"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Line 1"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Line 2"
        },{
          "type": "html",
          "id": "svg",
          "label": "SVG"
        },{
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }
      ]
    }
  ],
  "presets": [
    {
        "name": "Icon Block Row",
      "category": "Images",
      "blocks": [
        {
          "type": "iconblock"
        },
        {
          "type": "iconblock"
        },
        {
          "type": "iconblock"
        }
      ]
    }
  ]
}
{% endschema %}
